.headerEl {
    font-size: 20px;
    font-weight: bold;
}

.wrapper {
    margin-left: -20px;
}

.sigmaMenu {
    overflow: hidden;
    margin: 10px;
}
.tile {
    float: left;
    position: relative;
    list-style-type: none;
    color: #333333;
    float: left;
    height: 100px;
    overflow: hidden;
    padding: 20px 10px 20px 20px;
    width: 100px;
    margin: 10px;
}

.tile a {
    color: #FFFFFF;
    text-decoration: none;
}